
<meta charset="UTF-8">
<script src="/js/common.js" defer></script>
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/cell.css">

<!-- JQUERY -->
<script src="/lib/jQuery/jquery-3.3.1.min.js" defer></script>



<!-- DATA TABLE -->
<script src="/lib/dataTables/js/datatables.js" defer></script>
<script src="/lib/dataTables/js/jquery.dataTables.min.js" defer></script>
<link rel="stylesheet" href="/lib/dataTables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/lib/dataTables/css/fixedColumns.bootstrap.min.css">

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="/lib/bootstrap-4.3.1-dist/css/bootstrap.min.css">
<script src="/lib/bootstrap-4.3.1-dist/js/bootstrap.min.js" defer></script>

<!-- ECHARTS -->
<script src="/lib/echart/echarts.js" defer></script>
<script src="/lib/echart/echarts.common.min.js" defer></script>


<!-- SWEETALERT -->	
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" defer></script>

