<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<th:block th:replace="common/commonHead"></th:block>
<title>메인</title>
</head>
<body>
	<nav class="navbar navbar-white bg-white" th:fragment="header_nav" >
		<!-- Navbar content -->
		<div class="col-lg-3  col-md-6 col-sm-4 col-12 main_img">
			<a th:href="@{/org/battery}"><img th:src="@{/img/orgi-login-logo.png}"
				width="200px"></a>
		</div>
	</nav>
</body>
</html>